@{
    ViewBag.Title = "Ciclo";
    var data = ViewBag.Data;
    var perfil = Request.Cookies["UsuarioPerfil"].Value;
    DateTime? data_inicio = Model.historico.data_inicio;
    DateTime? data_fim = Model.historico.data_fim;
}

@model GrupoJOS_MVC5.Models.ViewModel_Ciclo

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index","AgendaCliente")">Agenda</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <h2> </h2>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-w-m btn-primary" data-toggle="modal" data-target="#myModal2"><i class="fa fa-check"></i> Aplicar Ciclo</button>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ciclo - <b>Semana 1</b></h5>
                        <div class="pull-right">
                            <div class="btn-group">
                                <a href="/Ciclo/Editar/1"><button type="button" class="btn btn-xs btn-default">Editar</button></a>
                                <a href="/Ciclo/Cadastro/1"><button type="button" class="btn btn-xs btn-primary">Novo</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Hora</th>
                                        <th>Segunda</th>
                                        <th>Terça</th>
                                        <th>Quarta</th>
                                        <th>Quinta</th>
                                        <th>Sexta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ciclo_semana1)
                                    {
                                        <tr>
                                            <td>@item.hora</td>

                                            <td>
                                                @item.segunda.Nome<br>
                                                @foreach (var seg in item.segunda_list)
                                                {
                                                    if (seg.Nome == "Vazio"){<p class="label label-default">@seg.Nome </p><br>}
                                                    else { <p class="label label-info">@seg.Nome </p><br>}
                                                }
                                            </td>

                                            <td>
                                                @item.terca.Nome<br>
                                                @foreach (var ter in item.terca_list)
                                                {
                                                    if (ter.Nome == "Vazio"){<p class="label label-default">@ter.Nome </p><br>}
                                                    else { <p class="label label-info">@ter.Nome </p><br>}
                                                }
                                            </td>

                                            <td>
                                                @item.quarta.Nome<br>
                                                @foreach (var qua in item.quarta_list)
                                                {
                                                    if (qua.Nome == "Vazio"){<p class="label label-default">@qua.Nome </p><br>}
                                                    else { <p class="label label-info">@qua.Nome </p><br>}
                                                }
                                            </td>

                                            <td>
                                                @item.quinta.Nome<br>
                                                @foreach (var qui in item.quinta_list)
                                                {
                                                    if (qui.Nome == "Vazio"){<p class="label label-default">@qui.Nome </p><br>}
                                                    else { <p class="label label-info">@qui.Nome </p><br>}
                                                }
                                            </td>

                                            <td>
                                                @item.sexta.Nome<br>
                                                @foreach (var sex in item.sexta_list)
                                                {
                                                    if (sex.Nome == "Vazio"){<p class="label label-default">@sex.Nome </p><br>}
                                                    else { <p class="label label-info">@sex.Nome </p><br>}
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ciclo - <b>Semana 2</b></h5>
                        <div class="pull-right">
                            <div class="btn-group">
                                <a href="/Ciclo/Editar/2"><button type="button" class="btn btn-xs btn-default">Editar</button></a>
                                <a href="/Ciclo/Cadastro/2"><button type="button" class="btn btn-xs btn-primary">Novo</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Hora</th>
                                        <th>Segunda</th>
                                        <th>Terça</th>
                                        <th>Quarta</th>
                                        <th>Quinta</th>
                                        <th>Sexta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ciclo_semana2)
                                    {
                                        <tr>
                                            <td>@item.hora</td>

                                            <td>
                                                @item.segunda.Nome<br>
                                                @foreach (var seg in item.segunda_list)
                                                {
                                                    if (seg.Nome == "Vazio"){<p class="label label-default">@seg.Nome </p><br>}
                                                    else { <p class="label label-info">@seg.Nome </p><br>}
                                                }
                                            </td>

                                            <td>
                                                @item.terca.Nome<br>
                                                @foreach (var ter in item.terca_list)
                                                {
                                                    if (ter.Nome == "Vazio"){<p class="label label-default">@ter.Nome </p><br>}
                                                    else { <p class="label label-info">@ter.Nome </p><br>}
                                                }
                                            </td>

                                            <td>
                                                @item.quarta.Nome<br>
                                                @foreach (var qua in item.quarta_list)
                                                {
                                                    if (qua.Nome == "Vazio"){<p class="label label-default">@qua.Nome </p><br>}
                                                    else { <p class="label label-info">@qua.Nome </p><br>}
                                                }
                                            </td>

                                            <td>
                                                @item.quinta.Nome<br>
                                                @foreach (var qui in item.quinta_list)
                                                {
                                                    if (qui.Nome == "Vazio"){<p class="label label-default">@qui.Nome </p><br>}
                                                    else { <p class="label label-info">@qui.Nome </p><br>}
                                                }
                                            </td>

                                            <td>
                                                @item.sexta.Nome<br>
                                                @foreach (var sex in item.sexta_list)
                                                {
                                                    if (sex.Nome == "Vazio"){<p class="label label-default">@sex.Nome </p><br>}
                                                    else { <p class="label label-info">@sex.Nome </p><br>}
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ciclo - <b>Semana 3</b></h5>
                        <div class="pull-right">
                            <div class="btn-group">
                                <a href="/Ciclo/Editar/3"><button type="button" class="btn btn-xs btn-default">Editar</button></a>
                                <a href="/Ciclo/Cadastro/3"><button type="button" class="btn btn-xs btn-primary">Novo</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Hora</th>
                                        <th>Segunda</th>
                                        <th>Terça</th>
                                        <th>Quarta</th>
                                        <th>Quinta</th>
                                        <th>Sexta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ciclo_semana3)
                                    {
                                        <tr>
                                            <td>@item.hora</td>

                                            <td>
                                                @item.segunda.Nome<br>
                                                @foreach (var seg in item.segunda_list)
                                                {
                                                    if (seg.Nome == "Vazio"){<p class="label label-default">@seg.Nome </p><br>}
                                                    else { <p class="label label-info">@seg.Nome </p><br>}
                                                }
                                            </td>

                                            <td>
                                                @item.terca.Nome<br>
                                                @foreach (var ter in item.terca_list)
                                                {
                                                    if (ter.Nome == "Vazio"){<p class="label label-default">@ter.Nome </p><br>}
                                                    else { <p class="label label-info">@ter.Nome </p><br>}
                                                }
                                            </td>

                                            <td>
                                                @item.quarta.Nome<br>
                                                @foreach (var qua in item.quarta_list)
                                                {
                                                    if (qua.Nome == "Vazio"){<p class="label label-default">@qua.Nome </p><br>}
                                                    else { <p class="label label-info">@qua.Nome </p><br>}
                                                }
                                            </td>

                                            <td>
                                                @item.quinta.Nome<br>
                                                @foreach (var qui in item.quinta_list)
                                                {
                                                    if (qui.Nome == "Vazio"){<p class="label label-default">@qui.Nome </p><br>}
                                                    else { <p class="label label-info">@qui.Nome </p><br>}
                                                }
                                            </td>

                                            <td>
                                                @item.sexta.Nome<br>
                                                @foreach (var sex in item.sexta_list)
                                                {
                                                    if (sex.Nome == "Vazio"){<p class="label label-default">@sex.Nome </p><br>}
                                                    else { <p class="label label-info">@sex.Nome </p><br>}
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ciclo - <b>Semana 4</b></h5>
                        <div class="pull-right">
                            <div class="btn-group">
                                <a href="/Ciclo/Editar/4"><button type="button" class="btn btn-xs btn-default">Editar</button></a>
                                <a href="/Ciclo/Cadastro/4"><button type="button" class="btn btn-xs btn-primary">Novo</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Hora</th>
                                        <th>Segunda</th>
                                        <th>Terça</th>
                                        <th>Quarta</th>
                                        <th>Quinta</th>
                                        <th>Sexta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ciclo_semana4)
                                    {
                                        <tr>
                                            <td>@item.hora</td>

                                            <td>
                                                @item.segunda.Nome<br>
                                                @foreach (var seg in item.segunda_list)
                                                {
                                                    if (seg.Nome == "Vazio"){<p class="label label-default">@seg.Nome </p><br>}
                                                    else { <p class="label label-info">@seg.Nome </p><br>}
                                                }
                                            </td>

                                            <td>
                                                @item.terca.Nome<br>
                                                @foreach (var ter in item.terca_list)
                                                {
                                                    if (ter.Nome == "Vazio"){<p class="label label-default">@ter.Nome </p><br>}
                                                    else { <p class="label label-info">@ter.Nome </p><br>}
                                                }
                                            </td>

                                            <td>
                                                @item.quarta.Nome<br>
                                                @foreach (var qua in item.quarta_list)
                                                {
                                                    if (qua.Nome == "Vazio"){<p class="label label-default">@qua.Nome </p><br>}
                                                    else { <p class="label label-info">@qua.Nome </p><br>}
                                                }
                                            </td>

                                            <td>
                                                @item.quinta.Nome<br>
                                                @foreach (var qui in item.quinta_list)
                                                {
                                                    if (qui.Nome == "Vazio"){<p class="label label-default">@qui.Nome </p><br>}
                                                    else { <p class="label label-info">@qui.Nome </p><br>}
                                                }
                                            </td>

                                            <td>
                                                @item.sexta.Nome<br>
                                                @foreach (var sex in item.sexta_list)
                                                {
                                                    if (sex.Nome == "Vazio"){<p class="label label-default">@sex.Nome </p><br>}
                                                    else { <p class="label label-info">@sex.Nome </p><br>}
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row wrapper border-bottom white-bg">
            <div class="col-lg-10">
                <br>
                <h3>Ultimo Ciclo:</h3>
                <ol class="breadcrumb">
                    <li>
                        @if (data_inicio.HasValue)
                        {
                            <b>@Model.historico.data_inicio.ToShortDateString()</b>
                        }
                    </li>
                    <li>
                        @if (data_fim.HasValue)
                        {
                            <b>@Model.historico.data_fim.ToShortDateString()</b>
                        }
                    </li>
                </ol>
                <br>
            </div>
            <div class="col-lg-2">
                <div class="pull-right">
                    <br>
                    <div class="btn-group">
                        <button type="button" class="btn btn-w-m btn-warning" data-toggle="modal" data-target="#myModal3"><i class="fa fa-undo"></i> Desfazer Ciclo</button>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>

        <br>
    </div>

    <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <form method="post" id="addRegister" autocomplete="off" action="/Ciclo/Aplicar/">
            <div class="modal-dialog">
                <div class="modal-content animated flipInY">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Aplicar Ciclo</h4>
                        <small class="font-bold">Para aplicar o ciclo de todos as semanas para o mês é necessário escolher a data de inicio do Ciclo.</small>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <h3>Início do Ciclo</h3>
                                        <p>
                                            Selecione um data para início do Ciclo:
                                        </p>

                                        <div class="form-group" id="data">
                                            <div class="input-group date">
                                                <input type="text" class="form-control" name="DataInicio" id="DataInicio" value="@data" required>
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Aplicar!</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="modal inmodal" id="myModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <form method="post" id="addRegister" autocomplete="off" action="/Ciclo/Desfazer/">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <i class="fa fa-undo modal-icon"></i>
                        <h4 class="modal-title">Desfazer Ciclo</h4>
                        <font class="font-bold text-danger" size="3">
                            Ao desfazer Ciclo <b>TODOS</b> os agendamentos cadastrados pelo iclo serão <b>excluídos</b> permanentemente, sem a possibilidade de retorno.<br>
                            Inclusive caso tenha realizado alguma visita a mesma também será excluida!
                        </font>
                        <br>
                        <small>Se não tiver certeza, entre em contato com o Desenvolvedor</small>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <h3>Tem certeza que deseja realizar essa operação?</h3>
                                        <p>Digite "SIM" na caixa de texto:</p>
                                        <div class="form-group">
                                            <div class="input-group text">
                                                <input type="text" class="form-control" name="Validacao">
                                                <span class="input-group-addon"><i class="fa fa-check"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning">Desfazer</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")

    <script type="text/javascript">
        $('#data .input-group.date').datepicker({
            todayBtn: "linked",
            format: 'dd/mm/yyyy',
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: false,
            todayHighlight: true,
            startDate: '@data',
            autoclose: true
        });
    </script>
}
