@{
    ViewBag.Title = "Ciclo";
    var data = ViewBag.Data;
    var perfil = Request.Cookies["UsuarioPerfil"].Value;
}

@model GrupoJOS_MVC5.Models.ViewModel_Ciclo

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <h2> </h2>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-w-m btn-primary" data-toggle="modal" data-target="#myModal2"><i class="fa fa-check"></i> Aplicar Ciclo</button>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ciclo - <b>Semana 1</b></h5>
                        <div class="pull-right">
                            <div class="btn-group">
                                <a href="/Ciclo/Editar/1"><button type="button" class="btn btn-xs btn-default">Editar</button></a>
                                <a href="/Ciclo/Cadastro/1"><button type="button" class="btn btn-xs btn-primary">Novo</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Hora</th>
                                    <th>Segunda</th>
                                    <th>Terça</th>
                                    <th>Quarta</th>
                                    <th>Quinta</th>
                                    <th>Sexta</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ciclo_semana1)
                                {
                                    <tr>
                                        <td>@item.hora</td>

                                        <td>
                                            @item.segunda.Nome<br>
                                            @foreach (var seg in item.segunda_list)
                                            {<span class="label label-info">@seg.Nome </span>}
                                        </td>

                                        <td>
                                            @item.terca.Nome<br>
                                            @foreach (var ter in item.terca_list)
                                            {<span class="label label-info">@ter.Nome </span>}
                                        </td>

                                        <td>
                                            @item.quarta.Nome<br>
                                            @foreach (var qua in item.quarta_list)
                                            {<span class="label label-info">@qua.Nome </span>}
                                        </td>

                                        <td>
                                            @item.quinta.Nome<br>
                                            @foreach (var qui in item.quinta_list)
                                            {<span class="label label-info">@qui.Nome </span>}
                                        </td>

                                        <td>
                                            @item.sexta.Nome<br>
                                            @foreach (var sex in item.sexta_list)
                                            {<span class="label label-info">@sex.Nome </span>}
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ciclo - <b>Semana 2</b></h5>
                        <div class="pull-right">
                            <div class="btn-group">
                                <a href="/Ciclo/Editar/2"><button type="button" class="btn btn-xs btn-default">Editar</button></a>
                                <a href="/Ciclo/Cadastro/2"><button type="button" class="btn btn-xs btn-primary">Novo</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Hora</th>
                                    <th>Segunda</th>
                                    <th>Terça</th>
                                    <th>Quarta</th>
                                    <th>Quinta</th>
                                    <th>Sexta</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ciclo_semana2)
                                {
                                    <tr>
                                        <td>@item.hora</td>

                                        <td>
                                            @item.segunda.Nome<br>
                                            @foreach (var seg in item.segunda_list)
                                            {<span class="label label-info">@seg.Nome </span>}
                                        </td>

                                        <td>
                                            @item.terca.Nome<br>
                                            @foreach (var ter in item.terca_list)
                                            {<span class="label label-info">@ter.Nome </span>}
                                        </td>

                                        <td>
                                            @item.quarta.Nome<br>
                                            @foreach (var qua in item.quarta_list)
                                            {<span class="label label-info">@qua.Nome </span>}
                                        </td>

                                        <td>
                                            @item.quinta.Nome<br>
                                            @foreach (var qui in item.quinta_list)
                                            {<span class="label label-info">@qui.Nome </span>}
                                        </td>

                                        <td>
                                            @item.sexta.Nome<br>
                                            @foreach (var sex in item.sexta_list)
                                            {<span class="label label-info">@sex.Nome </span>}
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ciclo - <b>Semana 3</b></h5>
                        <div class="pull-right">
                            <div class="btn-group">
                                <a href="/Ciclo/Editar/3"><button type="button" class="btn btn-xs btn-default">Editar</button></a>
                                <a href="/Ciclo/Cadastro/3"><button type="button" class="btn btn-xs btn-primary">Novo</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Hora</th>
                                    <th>Segunda</th>
                                    <th>Terça</th>
                                    <th>Quarta</th>
                                    <th>Quinta</th>
                                    <th>Sexta</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ciclo_semana3)
                                {
                                    <tr>
                                        <td>@item.hora</td>

                                        <td>
                                            @item.segunda.Nome<br>
                                            @foreach (var seg in item.segunda_list)
                                            {<span class="label label-info">@seg.Nome </span>}
                                        </td>

                                        <td>
                                            @item.terca.Nome<br>
                                            @foreach (var ter in item.terca_list)
                                            {<span class="label label-info">@ter.Nome </span>}
                                        </td>

                                        <td>
                                            @item.quarta.Nome<br>
                                            @foreach (var qua in item.quarta_list)
                                            {<span class="label label-info">@qua.Nome </span>}
                                        </td>

                                        <td>
                                            @item.quinta.Nome<br>
                                            @foreach (var qui in item.quinta_list)
                                            {<span class="label label-info">@qui.Nome </span>}
                                        </td>

                                        <td>
                                            @item.sexta.Nome<br>
                                            @foreach (var sex in item.sexta_list)
                                            {<span class="label label-info">@sex.Nome </span>}
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ciclo - <b>Semana 4</b></h5>
                        <div class="pull-right">
                            <div class="btn-group">
                                <a href="/Ciclo/Editar/4"><button type="button" class="btn btn-xs btn-default">Editar</button></a>
                                <a href="/Ciclo/Cadastro/4"><button type="button" class="btn btn-xs btn-primary">Novo</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Hora</th>
                                    <th>Segunda</th>
                                    <th>Terça</th>
                                    <th>Quarta</th>
                                    <th>Quinta</th>
                                    <th>Sexta</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ciclo_semana4)
                                {
                                    <tr>
                                        <td>@item.hora</td>

                                        <td>
                                            @item.segunda.Nome<br>
                                            @foreach (var seg in item.segunda_list)
                                            {<span class="label label-info">@seg.Nome </span>}
                                        </td>

                                        <td>
                                            @item.terca.Nome<br>
                                            @foreach (var ter in item.terca_list)
                                            {<span class="label label-info">@ter.Nome </span>}
                                        </td>

                                        <td>
                                            @item.quarta.Nome<br>
                                            @foreach (var qua in item.quarta_list)
                                            {<span class="label label-info">@qua.Nome </span>}
                                        </td>

                                        <td>
                                            @item.quinta.Nome<br>
                                            @foreach (var qui in item.quinta_list)
                                            {<span class="label label-info">@qui.Nome </span>}
                                        </td>

                                        <td>
                                            @item.sexta.Nome<br>
                                            @foreach (var sex in item.sexta_list)
                                            {<span class="label label-info">@sex </span>}
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row wrapper border-bottom white-bg">
            <div class="col-lg-12">
                <div class="pull-right">
                    <br>
                    <div class="btn-group">
                        <button type="button" class="btn btn-w-m btn-warning" data-toggle="modal" data-target="#myModal3"><i class="fa fa-undo"></i> Desfazer Ciclo</button>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <form method="post" id="addRegister" action="/Ciclo/Aplicar/">
            <div class="modal-dialog">
                <div class="modal-content animated flipInY">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Aplicar Ciclo</h4>
                        <small class="font-bold">Para aplicar o ciclo de todos as semanas para o mês é necessário escolher a data de inicio do Ciclo.</small>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <h3>Início do Ciclo</h3>
                                        <p>
                                            Selecione um data para início do Ciclo:
                                        </p>

                                        <div class="form-group" id="data">
                                            <div class="input-group date">
                                                <input type="text" class="form-control" name="DataInicio" id="DataInicio" value="@data">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Aplicar!</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")

    <script type="text/javascript">
        $('#data .input-group.date').datepicker({
            todayBtn: "linked",
            format: 'dd/mm/yyyy',
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: false,
            todayHighlight: true,
            startDate: '@data',
            autoclose: true
        });
    </script>
}
