@{
    ViewBag.Title = "Visitas";
    var inicio = DateTime.Now;
    var inicio_1 = inicio.ToShortDateString();

    DateTime fim = DateTime.Now;
    var fim_1 = fim.AddDays(30);
    var fim_2 = fim_1.ToShortDateString();
}

@model GrupoJOS_MVC5.Models.ViewModelRelatorioVisitas

<div class="row wrapper border-bottom white-bg page-heading" id="nao-imprime">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>Relatorios</a>
            </li>
            <li class="active">
                <a href="@Url.Action("Visitas", "Relatorios")"><strong>@ViewBag.Title</strong></a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Empresa: @Model.relatorioAtendimento.empresa.Nome</h4>
                    <div class="ibox-tools"id="nao-imprime">
                        <button type="button" class="btn btn-default btn-sm" onclick="printPage()" >Imprimir</button>
                    </div>
                </div>
                <div class="ibox-content inspinia-timeline">

                    @foreach (var item in Model.relatorioAtendimento.agenda_cliente)
                    {
                        <ul class="sortable-list connectList agile-list" id="todo">
                            <li class="info-element" id="task1">
                                Visitas realizadas no dia:
                                <div class="agile-detail">
                                    <i class="fa fa-clock-o"></i> @item.agenda.DataFinalizada.Substring(0, 10)
                                </div>
                            </li>
                        </ul>
                        <div class="">
                            <div class="">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Profissional de Saúde</th>
                                            <th>Especialidade</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var client in item.clientes)
                                        {
                                            <tr>
                                                <td>@client.Nome</td>
                                                <td>
                                                    <p>@client.NomeEspecialidade1</p>
                                                    <p>@client.NomeEspecialidade2</p>
                                                    <p>@client.NomeEspecialidade3</p>
                                                    <p>@client.NomeEspecialidade4</p>
                                                    <p>@client.NomeEspecialidade5</p>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content ibox-heading">
                    <h3>
                        Total de visitas
                        <div class="stat-percent text-navy">@Model.TotalAtendimento </div>
                    </h3>
                    <small><i class="fa fa-stack-exchange"></i> Visitas realizadas no periodo @Model.DataInicio.ToShortDateString() a @Model.DataFim.ToShortDateString()</small>
                </div>
                <div class="ibox-content">
                    <div class="ibox-title">
                        <h5>Por Especialidades</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <ul class="list-group">
                            @foreach (var item in Model.ContagemPorEspecialidade)
                            {
                                <li class="list-group-item">
                                    <span class="badge badge-primary">@item.Total</span>
                                    @item.Nome
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        function printPage() {
            window.print();
        }
    </script>