@{
    ViewBag.Title = "Edição de Usuarios";
    var style = "none";
    var style2 = "block";
    if (Model.Perfil == "3") { style = "block"; style2 = "none"; }
}

@model GrupoJOS_MVC5.Models.Model_Usuario

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>Usuarios</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <small>Usuarios que utilizam o sistema.</small>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.idusuario)
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12 b-r">
                                <label for="nome">Nome</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">perm_identity</i>
                                    </span>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite o nome do usuario" } })
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                <br>
                                <label for="email_address">E-mail</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">mail_outline</i>
                                    </span>
                                    <div class="form-line">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite o e-mail" } })
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                <br>
                                <label for="password">Senha</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">vpn_key</i>
                                    </span>
                                    <div class="form-line">
                                        @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite a senha" } })
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">vpn_key</i>
                                    </span>
                                    <div class="form-line">
                                        @Html.EditorFor(model => model.Senha2, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirme a senha" } })
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.Senha2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>

                    <form>
                        <div class="ibox-title">
                            <small>Permissões</small>
                        </div>
                        <div class="ibox-content">
                            <div class="row">

                                <div id="adm" style="display: @style2;">
                                    <div class="col-sm-4 b-r">
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">Usuário Administrador?</label>
                                            @if (Model.Administrador == true)
                                            {<div class="checkbox i-checks"><input type="checkbox" id="admin" name="admin" checked><i></i></div>}
                                            else
                                            {<div class="checkbox i-checks"><input type="checkbox" id="admin" name="admin"><i></i></div>}
                                            <br>
                                        </div>
                                    </div>


                                    <div class="col-sm-8">
                                        <p>Usuários Administradores possuem privilegios de remoção de dados, muito cuidado ao selecionar essa opção!</p>
                                    </div>
                                </div>

                                <div class="col-sm-12 b-r">
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Perfil</label>
                                        <div class="col-sm-10">
                                            <select class="form-control m-b" id="Perfil" name="Perfil">
                                                <option>Selecione um perfil</option>
                                                @if (Model.Perfil == "0")
                                                {
                                                    <option selected value="0">Propagandista</option>
                                                    <option value="1">Comercial</option>
                                                    <option value="2">Personalizado</option>
                                                    <option value="3">Empresa</option>
                                                }
                                                @if (Model.Perfil == "1")
                                                {
                                                    <option value="0">Propagandista</option>
                                                    <option selected value="1">Comercial</option>
                                                    <option value="2">Personalizado</option>
                                                    <option value="3">Empresa</option>
                                                }
                                                @if (Model.Perfil == "2")
                                                {
                                                    <option value="0">Propagandista</option>
                                                    <option value="1">Comercial</option>
                                                    <option value="2" selected>Personalizado</option>
                                                    <option value="3">Empresa</option>
                                                }
                                                @if (Model.Perfil == "3")
                                                {
                                                    <option value="0">Propagandista</option>
                                                    <option value="1">Comercial</option>
                                                    <option value="2">Personalizado</option>
                                                    <option value="3" selected>Empresa</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div id="Empresas" style="display: @style;">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Empresa</label>
                                            <div class="col-sm-10">
                                                <select class="form-control m-b" id="Empresa" name="Empresa">
                                                    @foreach (var item in ViewBag.ListaEmpresas)
                                                    {
                                                        if(Model.idempresa == item.idempresa)
                                                        {
                                                            <option selected value='@item.idempresa' >@item.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value='@item.idempresa'>@item.Nome</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="Permissoes">
                                        <div class="col-sm-4">
                                            <div class="checkbox i-checks"><label> <input type="checkbox" id="PermissaoAgenda" name="PermissaoAgenda"> <i></i> Agenda </label></div>
                                            <div class="checkbox i-checks"><label> <input type="checkbox" id="PermissaoCliente" name="PermissaoCliente"> <i></i> Profissional de Saúde </label></div>
                                            <div class="checkbox i-checks"><label> <input type="checkbox" id="PermissaoEmpresas" name="PermissaoEmpresas"> <i></i> Empresas </label></div>
                                            <div class="checkbox i-checks"><label> <input type="checkbox" id="PermissaoEspecialidades" name="PermissaoEspecialidades"> <i></i> Especialidades </label></div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="checkbox i-checks"><label> <input type="checkbox" id="PermissaoAgendaComercial" name="PermissaoAgendaComercial"> <i></i> Agenda Comercial </label></div>
                                            <div class="checkbox i-checks"><label> <input type="checkbox" id="PermissaoClienteComercial" name="PermissaoClienteComercial"> <i></i> Cliente Comercial </label></div>
                                            <div class="checkbox i-checks"><label> <input type="checkbox" id="PermissaoRamos" name="PermissaoRamos"> <i></i> Ramos </label></div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="checkbox i-checks"><label> <input type="checkbox" id="PermissaoUsuarios" name="PermissaoUsuarios"> <i></i> Usuários </label></div>
                                            <div class="checkbox i-checks"><label> <input type="checkbox" id="PermissaoTextos" name="PermissaoTextos"> <i></i> Textos </label></div>
                                            <div class="checkbox i-checks"><label> <input type="checkbox" id="PermissaoRelatorios" name="PermissaoRelatorios"> <i></i> Relatorios </label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">SALVAR</button>
                            <button type="button" id="return" class="btn btn-danger m-t-15 waves-effect">CANCELAR</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/iCheck")

    @if (Model.PermissaoAgenda == "1")
    {
        <script>$(document).ready(function () { $('#PermissaoAgenda').prop('checked', true); $('#PermissaoAgenda').iCheck('update'); });</script>}
    @if (Model.PermissaoCliente == "1")
    {
        <script>$(document).ready(function () { $('#PermissaoCliente').prop('checked', true); $('#PermissaoCliente').iCheck('update'); });</script>}
    @if (Model.PermissaoEmpresas == "1")
    {
        <script>$(document).ready(function () { $('#PermissaoEmpresas').prop('checked', true); $('#PermissaoEmpresas').iCheck('update'); });</script>}
    @if (Model.PermissaoEspecialidades == "1")
    {
        <script>$(document).ready(function () { $('#PermissaoEspecialidades').prop('checked', true); $('#PermissaoEspecialidades').iCheck('update'); });</script>}
    @if (Model.PermissaoAgendaComercial == "1")
    {
        <script>$(document).ready(function () { $('#PermissaoAgendaComercial').prop('checked', true); $('#PermissaoAgendaComercial').iCheck('update'); });</script>}
    @if (Model.PermissaoClienteComercial == "1")
    {
        <script>$(document).ready(function () { $('#PermissaoClienteComercial').prop('checked', true); $('#PermissaoClienteComercial').iCheck('update'); });</script>}
    @if (Model.PermissaoRamos == "1")
    {
        <script>$(document).ready(function () { $('#PermissaoRamos').prop('checked', true); $('#PermissaoRamos').iCheck('update'); });</script>}
    @if (Model.PermissaoUsuarios == "1")
    {
        <script>$(document).ready(function () { $('#PermissaoUsuarios').prop('checked', true); $('#PermissaoUsuarios').iCheck('update'); });</script>}
    @if (Model.PermissaoTextos == "1")
    {
        <script>$(document).ready(function () { $('#PermissaoTextos').prop('checked', true); $('#PermissaoTextos').iCheck('update'); });</script>}
    @if (Model.PermissaoRelatorios == "1")
    {
        <script>$(document).ready(function () { $('#PermissaoRelatorios').prop('checked', true); $('#PermissaoRelatorios').iCheck('update'); });</script>}

    <script type="text/javascript">

    $(function(){
        $("#return").click(function(){
        window.location.href = "@Url.Action("Index","Usuarios")";
        });
    });

    $(document).ready(function () {
        $("#Perfil").change(function () {
            var select = $("#Perfil option:selected").val();

            var emp = document.getElementById("Empresas");
            var adm = document.getElementById("adm");

            var pro = document.getElementById("Permissoes");
            switch (select) {
                case "0": //propagandista
                    $('#PermissaoAgenda').prop('checked', true);
                    $('#PermissaoAgenda').iCheck('update');
                    $('#PermissaoAgenda').iCheck('enable');

                    $('#PermissaoCliente').prop('checked', true);
                    $('#PermissaoCliente').iCheck('update');
                    $('#PermissaoCliente').iCheck('enable');

                    $('#PermissaoEmpresas').prop('checked', true);
                    $('#PermissaoEmpresas').iCheck('update');
                    $('#PermissaoEmpresas').iCheck('enable');

                    $('#PermissaoEspecialidades').prop('checked', true);
                    $('#PermissaoEspecialidades').iCheck('update');
                    $('#PermissaoEspecialidades').iCheck('enable');

                    $('#PermissaoAgendaComercial').removeProp('checked');
                    $('#PermissaoAgendaComercial').iCheck('uncheck');
                    $('#PermissaoAgendaComercial').iCheck('enable');

                    $('#PermissaoClienteComercial').removeProp('checked');
                    $('#PermissaoClienteComercial').iCheck('uncheck');
                    $('#PermissaoClienteComercial').iCheck('enable');

                    $('#PermissaoRamos').removeProp('checked');
                    $('#PermissaoRamos').iCheck('uncheck');
                    $('#PermissaoRamos').iCheck('enable');

                    $('#PermissaoUsuarios').removeProp('checked');
                    $('#PermissaoUsuarios').iCheck('uncheck');
                    $('#PermissaoUsuarios').iCheck('enable');

                    $('#PermissaoTextos').prop('checked', true);
                    $('#PermissaoTextos').iCheck('update');
                    $('#PermissaoTextos').iCheck('enable');

                    $('#PermissaoRelatorios').removeProp('checked');
                    $('#PermissaoRelatorios').iCheck('uncheck');
                    $('#PermissaoRelatorios').iCheck('enable');

                    pro.style.display = "block"
                    emp.style.display = "none"
                    adm.style.display = "block"
                    break;
                case "1": //comercial
                    $('#PermissaoAgenda').removeProp('checked');
                    $('#PermissaoAgenda').iCheck('uncheck');
                    $('#PermissaoAgenda').iCheck('enable');

                    $('#PermissaoCliente').removeProp('checked');
                    $('#PermissaoCliente').iCheck('uncheck');
                    $('#PermissaoCliente').iCheck('enable');

                    $('#PermissaoEmpresas').removeProp('checked');
                    $('#PermissaoEmpresas').iCheck('uncheck');
                    $('#PermissaoEmpresas').iCheck('enable');

                    $('#PermissaoEspecialidades').removeProp('checked');
                    $('#PermissaoEspecialidades').iCheck('uncheck');
                    $('#PermissaoEspecialidades').iCheck('enable');

                    $('#PermissaoAgendaComercial').prop('checked', true);
                    $('#PermissaoAgendaComercial').iCheck('update');
                    $('#PermissaoAgendaComercial').iCheck('enable');

                    $('#PermissaoClienteComercial').prop('checked', true);
                    $('#PermissaoClienteComercial').iCheck('update');
                    $('#PermissaoClienteComercial').iCheck('enable');

                    $('#PermissaoRamos').prop('checked', true);
                    $('#PermissaoRamos').iCheck('update');
                    $('#PermissaoRamos').iCheck('enable');

                    $('#PermissaoUsuarios').removeProp('checked');
                    $('#PermissaoUsuarios').iCheck('uncheck');
                    $('#PermissaoUsuarios').iCheck('enable');

                    $('#PermissaoTextos').prop('checked', true);
                    $('#PermissaoTextos').iCheck('update');
                    $('#PermissaoTextos').iCheck('enable');

                    $('#PermissaoRelatorios').removeProp('checked');
                    $('#PermissaoRelatorios').iCheck('uncheck');
                    $('#PermissaoRelatorios').iCheck('enable');

                    pro.style.display = "block"
                    emp.style.display = "none"
                    adm.style.display = "block"
                    break;
                case "2": //personalizado
                    $('#PermissaoAgenda').removeProp('checked');
                    $('#PermissaoAgenda').iCheck('uncheck');
                    $('#PermissaoAgenda').iCheck('enable');

                    $('#PermissaoCliente').removeProp('checked');
                    $('#PermissaoCliente').iCheck('uncheck');
                    $('#PermissaoCliente').iCheck('enable');

                    $('#PermissaoEmpresas').removeProp('checked');
                    $('#PermissaoEmpresas').iCheck('uncheck');
                    $('#PermissaoEmpresas').iCheck('enable');

                    $('#PermissaoEspecialidades').removeProp('checked');
                    $('#PermissaoEspecialidades').iCheck('uncheck');
                    $('#PermissaoEspecialidades').iCheck('enable');

                    $('#PermissaoAgendaComercial').removeProp('checked');
                    $('#PermissaoAgendaComercial').iCheck('uncheck');
                    $('#PermissaoAgendaComercial').iCheck('enable');

                    $('#PermissaoClienteComercial').removeProp('checked');
                    $('#PermissaoClienteComercial').iCheck('uncheck');
                    $('#PermissaoClienteComercial').iCheck('enable');

                    $('#PermissaoRamos').removeProp('checked');
                    $('#PermissaoRamos').iCheck('uncheck');
                    $('#PermissaoRamos').iCheck('enable');

                    $('#PermissaoUsuarios').removeProp('checked');
                    $('#PermissaoUsuarios').iCheck('uncheck');
                    $('#PermissaoUsuarios').iCheck('enable');

                    $('#PermissaoTextos').removeProp('checked');
                    $('#PermissaoTextos').iCheck('uncheck');
                    $('#PermissaoTextos').iCheck('enable');

                    $('#PermissaoRelatorios').removeProp('checked');
                    $('#PermissaoRelatorios').iCheck('uncheck');
                    $('#PermissaoRelatorios').iCheck('enable');
                    pro.style.display = "block"
                    emp.style.display = "none"
                    adm.style.display = "block"
                    break;
                case "3": //empresa
                    $('#PermissaoAgenda').removeProp('checked');
                    $('#PermissaoAgenda').iCheck('uncheck');
                    $('#PermissaoAgenda').iCheck('disable');

                    $('#PermissaoCliente').removeProp('checked');
                    $('#PermissaoCliente').iCheck('uncheck');
                    $('#PermissaoCliente').iCheck('disable');

                    $('#PermissaoEmpresas').removeProp('checked');
                    $('#PermissaoEmpresas').iCheck('uncheck');
                    $('#PermissaoEmpresas').iCheck('disable');

                    $('#PermissaoEspecialidades').removeProp('checked');
                    $('#PermissaoEspecialidades').iCheck('uncheck');
                    $('#PermissaoEspecialidades').iCheck('disable');

                    $('#PermissaoAgendaComercial').removeProp('checked');
                    $('#PermissaoAgendaComercial').iCheck('uncheck');
                    $('#PermissaoAgendaComercial').iCheck('disable');

                    $('#PermissaoClienteComercial').removeProp('checked');
                    $('#PermissaoClienteComercial').iCheck('uncheck');
                    $('#PermissaoClienteComercial').iCheck('disable');

                    $('#PermissaoRamos').removeProp('checked');
                    $('#PermissaoRamos').iCheck('uncheck');
                    $('#PermissaoRamos').iCheck('disable');

                    $('#PermissaoUsuarios').removeProp('checked');
                    $('#PermissaoUsuarios').iCheck('uncheck');
                    $('#PermissaoUsuarios').iCheck('disable');

                    $('#PermissaoTextos').removeProp('checked');
                    $('#PermissaoTextos').iCheck('uncheck');
                    $('#PermissaoTextos').iCheck('disable');

                    $('#PermissaoRelatorios').prop('checked', true);
                    $('#PermissaoRelatorios').iCheck('update');
                    pro.style.display = "block"
                    emp.style.display = "block"

                    adm.style.display = "none"
                    $('#admin').removeProp('checked');
                    $('#admin').iCheck('uncheck');
                    break;
                default:
                    emp.style.display = "none"
                    pro.style.display = "none"
                    adm.style.display = "block"
                    break;
            }
        });
    });

    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        })
    });

    </script>
}