@{
    ViewBag.Title = "Edição de Usuarios";
}

@model GrupoJOS_MVC5.Models.Model_Usuario

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>Usuarios</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <small>Usuarios que utilizam o sistema.</small>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12 b-r">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.idusuario)
                                <form>

                                    <label for="nome">Nome</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">perm_identity</i>
                                        </span>
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite o nome do usuario" } })
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                    <br>
                                    <label for="email_address">E-mail</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">mail_outline</i>
                                        </span>
                                        <div class="form-line">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite o e-mail" } })
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    <br>
                                    <label for="password">Senha</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">vpn_key</i>
                                        </span>
                                        <div class="form-line">
                                            @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite a senha" } })
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                                    <br>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">vpn_key</i>
                                        </span>
                                        <div class="form-line">
                                            @Html.EditorFor(model => model.Senha2, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirme a senha" } })
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Senha2, "", new { @class = "text-danger" })
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-6 b-r">
                                            <label>Perfil de Usuario</label>
                                            <div class="input-group">
                                                <label class="container">

                                                    @if (@Model.Perfil == 0)
                                                    {
                                                        <div class="radio i-checks"><label> <input type="radio" checked name="Perfil" value="0"> <i></i> Perfil de Visita </label></div>
                                                        <div class="radio i-checks"><label> <input type="radio" name="Perfil" value="1"> <i></i> Perfil Comercial </label></div>
                                                    }
                                                    @if (@Model.Perfil == 1)
                                                    {
                                                        <div class="radio i-checks"><label> <input type="radio" name="Perfil" value="0"> <i></i> Perfil de Visita </label></div>
                                                        <div class="radio i-checks"><label> <input type="radio" checked name="Perfil" value="1"> <i></i> Perfil Comercial </label></div>
                                                    }

                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 b-r">
                                            <label>Usuário Administrador?</label>
                                            <div class="input-group">
                                                <label class="container">
                                                    @Html.CheckBoxFor(model => model.Administrador, new { htmlAttribites = new { @class = "checkbox i-checks", @type = "checkbox" } })
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">SALVAR</button>
                                    <button type="button" onclick="window.history.back()" class="btn btn-danger m-t-15 waves-effect">CANCELAR</button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/iCheck")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>
}