@{
    ViewBag.Title = "Lista de Usuarios";
}

@model List<GrupoJOS_MVC5.Models.Model_Usuario>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>Usuarios</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@ViewBag.Title</h5>
                        <div class="pull-right">
                            <div class="btn-group">
                                <a href="/Usuarios/Cadastro">
                                    <button type="button" class="btn btn-xs btn-success">Cadastrar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>E-mail (login)</th>
                                    <th>Ultimo Acesso</th>
                                    <th>Tipo Usuario</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>E-mail (login)</th>
                                    <th>Ultimo Acesso</th>
                                    <th>Tipo Usuario</th>
                                    <th>Opções</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td width="5%">@item.idusuario</td>
                                        <td>@item.Nome</td>
                                        <td>@item.Email</td>
                                        <td>@item.UltimoAcesso</td>
                                        <td width="3%" align="center">
                                            @if (item.Administrador == true)
                                            {<i title="Administrador" class="material-icons">star</i>}
                                            else
                                            {<i title="Comum" class="material-icons">star_border</i>}
                                        </td>
                                        <td width="9%">
                                            <div class="js-sweetalert">
                                                <a href="/Usuarios/Editar/@item.idusuario"><button class="btn btn-success dim" type="button"><i class="fa fa-edit"></i></button></a>
                                                <button class="btn btn-danger dim" type="button" data-type="confirm" onclick="AssignButtonClicked(this)" data-assigned-id="@item.idusuario"><i class="fa fa-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                    <script>
                        function AssignButtonClicked(elem) {
                            var id = $(elem).data('assigned-id');
                            swal({
									title: "Tem certeza?",
                                    text: "Esse registro sera apagado e nao podera ser recuperado!",
                                    icon: "warning",
                                    buttons: {cancel: "Cancelar", ok: "Sim, pode remover!"},
                                    dangerMode: true,
                                })
                                .then((willDelete) => {
                                    if (willDelete) {
                                    swal("Removido!","Registro foi removido com sucesso!","success")
                                    .then((value) => {
                                        $.post("/Usuarios/Index/" + id + "");
                                        window.location ="/Usuarios/Index";
                                    });
                                    } else {
                                    swal("Cancelado!","O registro não foi removido","error");
                                    }
                                });
                        }
                    </script>

                </div>
            </div>
        </div>

    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });

    </script>
}
