@{
    ViewBag.Title = "Atendimentos";
    var inicio = DateTime.Now;
    var inicio_1 = inicio.ToShortDateString();

    DateTime fim = DateTime.Now;
    var fim_1 = fim.AddDays(30);
    var fim_2 = fim_1.ToShortDateString();
}

@model GrupoJOS_MVC5.Models.ViewModelRelatorioAtendimentos

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>Relatorios</a>
            </li>
            <li class="active">
                <a href="@Url.Action("Atendimentos", "Relatorios")"><strong>@ViewBag.Title</strong></a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Empresa @Model.relatorioAtendimento.empresa.Nome</h4>
                </div>
                <div class="ibox-content inspinia-timeline">

                    @foreach (var item in Model.relatorioAtendimento.agenda_cliente)
                    {

                        <ul class="sortable-list connectList agile-list" id="todo">
                            <li class="info-element" id="task1">
                                Visitas realizadas no dia:
                                <div class="agile-detail">
                                    <i class="fa fa-clock-o"></i> @item.agenda.DataFinalizada.Substring(0,10)
                                </div>
                            </li>
                        </ul>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-2 date">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <div class="col-xs-7 content no-top-border">
                                    <p class="m-b-xs"><strong>Profissional de Saúde: @item.cliente.Nome</strong></p>
                                    @*OBSERVAÇÔES <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products.</p>*@

                                </div>
                                <div class="col-xs-3 content no-top-border">
                                    <b><p>Especialidades: </p></b>
                                    <p>@item.cliente.NomeEspecialidade1</p>
                                    <p>@item.cliente.NomeEspecialidade2</p>
                                    <p>@item.cliente.NomeEspecialidade3</p>
                                    <p>@item.cliente.NomeEspecialidade4</p>
                                    <p>@item.cliente.NomeEspecialidade5</p>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content ibox-heading">
                    <h3>
                        Total de visitas
                        <div class="stat-percent text-navy">@Model.relatorioAtendimento.agenda_cliente.Count </div>
                    </h3>
                    <small><i class="fa fa-stack-exchange"></i> Visitas realizadas no periodo x a y</small>
                </div>
                <div class="ibox-content">
                    <div class="ibox-title">
                        <h5>Por Especialidades</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge badge-primary">16</span>
                                Especialidade 0
                            </li>
                            <li class="list-group-item ">
                                <span class="badge badge-info">12</span>
                                Especialidade 1
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-danger">10</span>
                                Especialidade 2
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-success">10</span>
                                Especialidade 3
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-warning">7</span>
                                Especialidade 4
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
