@{
    ViewBag.Title = "Conclusão Visita Comercial";
    var data = DateTime.Now.ToString("dd/MM/yyyy hh:mm");
}

@model GrupoJOS_MVC5.Models.ViewModelAgendaComercial

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>Agenda Comercial</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@ViewBag.Title</h5>
        </div>
        <div class="ibox-content">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" name="id" value="@Model.agenda.idagenda" />
                <input type="hidden" name="idclientecomercial" value="@Model.agenda.Comercial" />

                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox-content">

                            <h3>Você esta concluindo sua vista com os seguintes dados:</h3>
                            <p><b>Cliente:</b> @Model.clienteComercial.Nome</p>
                            <p><b>Data e Hora da Visita:</b> @Model.agenda.DataVisita.Substring(0, 10) @Model.agenda.HoraVisita</p>
                            <p><b>Data e Hora da Conclusão:</b> @data (agora)</p>
                            <br>
                            <small>Marque a opção abaixo caso deseje alterar a data de conclusão</small>
                            <br>
                            <div class="checkbox i-checks"><p><input type="checkbox" name="alterar" id="alterar"> Alterar data da conclusão </p></div>

                        </div>
                    </div>
                </div>

                <div class="row" id="altera" name="altera" style="display: none;">
                    <div class="col-lg-6">
                        <div class="ibox-content">
                            <label>Data</label>
                            <p>
                                Selecione um data para visita:
                            </p>

                            <div class="form-group" id="data_1">
                                <div class="input-group date">
                                    <input type="text" class="form-control" name="DataFinalizada" id="DataFinalizada" value="@Model.agenda.DataVisita.Substring(0,10)">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ibox">
                            <div class="ibox-content">
                                <label>Hora</label>
                                <p>
                                    Selecione o horário da visita:
                                </p>

                                <div class="input-group clockpicker" data-autoclose="true">
                                    <input type="text" class="form-control" name="HoraFinalizada" id="HoraFinalizada" value="@Model.agenda.HoraVisita">
                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox-content">
                            <label for="observacoes">Observações</label>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <textarea rows="4" class="form-control no-resize" placeholder="Observações..." id="Observacao" name="Observacao"></textarea>
                                    </div>
                                </div>
                                <span class="field-validation-error text-danger" data-valmsg-for="Observacao" data-valmsg-replace="true">@ViewBag.ErroObs</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="font-noraml">Texto padrão:</label>
                                <div>
                                    <select data-placeholder="Selecione um texto" class="chosen-select" tabindex="2" id="myList" onchange="myFunction()">
                                        <option>Textos padrões</option>
                                        @foreach (var item in ViewBag.TextoPadrao)
                                        {
                                            <option id='@item.Descricao'>Texto: @item.Descricao.Substring(0, 10)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary m-t-15">SALVAR</button>
                <button type="button" onclick="window.history.back()" class="btn btn-danger m-t-15 waves-effect">CANCELAR</button>

            }
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/iCheck")



    <script type="text/javascript">
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });

            $('.clockpicker').clockpicker({
                placement: 'top',
            });

            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                format: 'dd/mm/yyyy',
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: false,
                todayHighlight: true,
                autoclose: true
            });

            $(document).ready(function () {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                })
            });

            $('#alterar').on('ifChecked', function () {
                var alt = document.getElementById("altera");
                alt.style.display = "block"
            });

            $('#alterar').on('ifUnchecked', function () {
                var alt = document.getElementById("altera");
                alt.style.display = "none"
                
            });
        });

        function myFunction() {
            var mylist = document.getElementById("myList");
            document.getElementById("Observacao").value = mylist.options[mylist.selectedIndex].id;
        }
        

    </script>
}