@{
    ViewBag.Title = "Conclusão";
}

@model GrupoJOS_MVC5.Models.ViewModelAgenda

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>Agenda</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@ViewBag.Title - @Model.cliente.Nome</h5>
        </div>
        <div class="ibox-content">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" name="id" value="@Model.agenda.idagenda" />
                <div class="row">
                    <div class="col-md-12">
                        <label for="observacoes">Observações</label>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <textarea rows="4" class="form-control no-resize" placeholder="Observações..." id="Observacao" name="Observacao"></textarea>
                                    </div>
                                </div>
                                <span class="field-validation-error text-danger" data-valmsg-for="Observacao" data-valmsg-replace="true">@ViewBag.ErroObs</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="ibox-content">
                            <p>
                                Clinicas apresentadas nessa visita.
                            </p>
                            <div class="form-group">
                                <div>
                                    <select data-placeholder="Selecione uma ou mais clinicas" class="chosen-select" multiple tabindex="4" name="Empresas">
                                        @foreach (var item in ViewBag.ListadeEmpresas)
                                        {
                                            <option value='@item.idempresa'>@item.Nome</option>
                                        }
                                        @foreach (var item in ViewBag.EmpresasApresentadas)
                                        {
                                            <option value='@item.idempresa' selected>@item.Nome</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <span class="field-validation-error text-danger" data-valmsg-for="Empresas" data-valmsg-replace="true">@ViewBag.ErroEmpresa</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="font-noraml">Texto padrão:</label>
                                <div>
                                    <select data-placeholder="Selecione um texto" class="chosen-select" tabindex="2" id="myList" onchange="myFunction()">
                                        @foreach (var item in ViewBag.TextoPadrao)
                                        {
                                            <option id='@item.Descricao'>Texto: @item.idtexto</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary m-t-15 waves-effect">SALVAR</button>
                <button type="button" onclick="window.history.back()" class="btn btn-danger m-t-15 waves-effect">CANCELAR</button>
            }
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });
        });

        function myFunction() {
            var mylist = document.getElementById("myList");
            document.getElementById("Observacao").value = mylist.options[mylist.selectedIndex].id;
        }
    </script>
}