@{
    /**/

    ViewBag.Title = "Edição de Cliente Comercial";
}

@model GrupoJOS_MVC5.Models.Model_ClienteComercial

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>Cliente Comercial</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12 b-r">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.idclientecomercial)
                                <form>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <label for="nome">Nome</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">star_border</i>
                                                </span>
                                                <div class="form-line">
                                                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite o nome da empresa" } })
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            <label for="nome">Ramo</label>
                                            <div>
                                                <select data-placeholder="Selecione um profissional" class="chosen-select" tabindex="2" name="ramo_cliente">
                                                    @foreach (var item in ViewBag.ListaRamos)
                                                    {
                                                        if (item.idramo == Model.Ramo)
                                                        {
                                                            <option value='@item.idramo' selected> @item.Nome </option>}
                                                        else
                                                        {
                                                            <option value='@item.idramo'> @item.Nome </option>}
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="razao">Razão Social</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">chevron_right</i>
                                                </span>
                                                <div class="form-line">
                                                    @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control", placeholder = "Razão Social" } })
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.RazaoSocial, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label for="cnpj">CNPJ</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">chevron_right</i>
                                                </span>
                                                <div class="form-line">
                                                    @Html.EditorFor(model => model.CNPJ, new { htmlAttributes = new { @class = "form-control", placeholder = "Ex:00.000.000/0001-12" } })
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.CNPJ, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label for="insc-est">Inscrição Estadual</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">chevron_right</i>
                                                </span>
                                                <div class="form-line">
                                                    @Html.EditorFor(model => model.InscricaoEstadual, new { htmlAttributes = new { @class = "form-control", placeholder = "Ex:000.000.000.000" } })
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.InscricaoEstadual, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="endereco">Endereço</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">place</i>
                                                </span>
                                                <div class="form-line">
                                                    @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control", placeholder = "Endereço" } })
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label for="numero">Número</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">my_location</i>
                                                </span>
                                                <div class="form-line">
                                                    @Html.EditorFor(model => model.Num, new { htmlAttributes = new { @class = "form-control", placeholder = "Nº" } })
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Num, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label for="cep">CEP</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">my_location</i>
                                                </span>
                                                <div class="form-line">
                                                    @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control", placeholder = "CEP" } })
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="bairro">Bairro</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">map</i>
                                                </span>
                                                <div class="form-line">
                                                    @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control", placeholder = "Bairro" } })
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label for="cidade">Cidade</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">location_city</i>
                                                </span>
                                                <div class="form-line">
                                                    @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control", placeholder = "Cidade" } })
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label for="estado">Estado</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">pin_drop</i>
                                                </span>
                                                <div class="form-line">
                                                    @Html.EditorFor(model => model.UF, new { htmlAttributes = new { @class = "form-control", placeholder = "UF" } })
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.UF, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="contato">Contato (Secretaria)</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">perm_identity</i>
                                                </span>
                                                <div class="form-line">
                                                    @Html.EditorFor(model => model.Contato, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome do contato" } })
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Contato, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            <label for="email_address">E-mail</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">mail_outline</i>
                                                </span>
                                                <div class="form-line">
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite o e-mail" } })
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            <label for="telefone1">Telefone 1</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">phone</i>
                                                </span>
                                                <div class="form-line">
                                                    @Html.EditorFor(model => model.Fone1, new { htmlAttributes = new { @class = "form-control", placeholder = "Ex:(00) 0000-0000" } })
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Fone1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            <label for="telefone2">Telefone 2</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">phone</i>
                                                </span>
                                                <div class="form-line">
                                                    @Html.EditorFor(model => model.Fone2, new { htmlAttributes = new { @class = "form-control", placeholder = "Ex:(00) 0000-0000" } })
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Fone2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            @if (Model.Conveniado == 1)
                                            {
                                                <label> <input type="checkbox" class="i-checks" name="Convenio" checked> Conveniado? </label>
                                            }
                                            else
                                            {
                                                <label> <input type="checkbox" class="i-checks" name="Convenio"> Conveniado? </label>
                                            }
                                        </div>
                                    </div>
                                    <br>
                                    <br>

                                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">SALVAR</button>
                                    <button type="button" onclick="window.history.back()" class="btn btn-danger m-t-15 waves-effect">CANCELAR</button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/iCheck")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });
        });
    </script>

    <script src="~/Content/especificos/jquery.maskedinput.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        $(function () {
            $.mask.definitions['~'] = "[+-]";
            $("#date").mask("99/99/9999");
            $("#CEP").mask("99999999");
            $("#Fone_Celular").mask("(99) 99999-9999");
            $("#Fone1").mask("(99) 99999-9999");
            $("#Fone2").mask("(99) 99999-9999");
            $("#Horario_In").mask("99:99");
            $("#Horario_Out").mask("99:99");
            $("#UF").mask("aa");
            $("#Aniversario_m").mask("99/99/9999");
            $("#Aniversario_c").mask("99/99/9999");
        });

    </script>
}