@{
    ViewBag.Title = "Home";
    var perfil = Request.Cookies["UsuarioPerfil"].Value;
}

@model GrupoJOS_MVC5.Models.Model_Home

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    @if (perfil == "0")
                    {
                        <a href="AgendaCliente/VisitasDia"><span class="label label-primary pull-right">Visualizar</span></a>
                    }
                    @if (perfil == "1")
                    {
                        <a href="AgendaComercial/VisitasDia"><span class="label label-primary pull-right">Visualizar</span></a>
                    }
                    <h5>Visitas Agendadas - Hoje</h5>
                </div>
                <div class="ibox-content">
                    <ul class="stat-list">
                        <li>
                            <h2 class="no-margins">@Model.VisitasAgendadasDia</h2>
                            <small>Agendadas</small>
                        </li>
                        <li>
                            <h2 class="no-margins ">@Model.VisitasRealizadasDia</h2>
                            <small>Realizadas</small>
                            <div class="stat-percent">@Model.VisitasRealizadasDiaP% </div>
                            <div class="progress progress-mini">
                                <div style="width: @Model.VisitasRealizadasDiaP%;" class="progress-bar"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    @if (perfil == "0")
                    {
                        <a href="AgendaCliente/VisitasSemana"><span class="label label-info pull-right">Visualizar</span></a>
                    }
                    @if (perfil == "1")
                    {
                        <a href="AgendaComercial/VisitasSemana"><span class="label label-info pull-right">Visualizar</span></a>
                    }
                    <h5>Visitas Agendadas - Semana</h5>
                </div>
                <div class="ibox-content">
                    <ul class="stat-list">
                        <li>
                            <h2 class="no-margins">@Model.VisitasAgendadasSemana</h2>
                            <small>Agendadas</small>
                        </li>
                        <li>
                            <h2 class="no-margins ">@Model.VisitasRealizadasSemana</h2>
                            <small>Realizadas</small>
                            <div class="stat-percent">@Model.VisitasRealizadasSemanaP% </div>
                            <div class="progress progress-mini">
                                <div style="width: @Model.VisitasRealizadasSemanaP%;" class="progress-bar"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    @if (perfil == "0")
                    {
                        <a href="AgendaCliente/VisitasMes"><span class="label label-success pull-right">Visualizar</span></a>
                    }
                    @if (perfil == "1")
                    {
                        <a href="AgendaComercial/VisitasMes"><span class="label label-success pull-right">Visualizar</span></a>
                    }
                    <h5>Visitas Agendadas - Mês</h5>
                </div>
                <div class="ibox-content">
                    <ul class="stat-list">
                        <li>
                            <h2 class="no-margins">@Model.VisitasAgendadasMes</h2>
                            <small>Agendadas</small>
                        </li>
                        <li>
                            <h2 class="no-margins ">@Model.VisitasRealizadasMes</h2>
                            <small>Realizadas</small>
                            <div class="stat-percent">@Model.VisitasRealizadasMesP% </div>
                            <div class="progress progress-mini">
                                <div style="width: @Model.VisitasRealizadasMesP%;" class="progress-bar"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

}

@section Scripts {

}
