@{
    ViewBag.Title = "Home";
    var date = DateTime.Now;
    var data = date.ToShortDateString();
    var perfil = Request.Cookies["UsuarioPerfil"].Value;
}

@model GrupoJOS_MVC5.Models.Model_Home

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    @if (perfil == "0")
                    {
                        <a href="AgendaCliente/VisitasDia"><span class="label label-primary pull-right">Visualizar</span></a>
                    }
                    @if (perfil == "1")
                    {
                        <a href="AgendaComercial/VisitasDia"><span class="label label-primary pull-right">Visualizar</span></a>
                    }
                    <h5>Visitas Agendadas - Hoje</h5>
                </div>
                <div class="ibox-content">
                    <ul class="stat-list">
                        <li>
                            <h2 class="no-margins">@Model.VisitasAgendadasDia</h2>
                            <small>Agendadas</small>
                        </li>
                        <li>
                            <h2 class="no-margins ">@Model.VisitasRealizadasDia</h2>
                            <small>Realizadas</small>
                            <div class="stat-percent">@Model.VisitasRealizadasDiaP% </div>
                            <div class="progress progress-mini">
                                <div style="width: @Model.VisitasRealizadasDiaP%;" class="progress-bar"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    @if (perfil == "0")
                    {
                        <a href="AgendaCliente/VisitasSemana"><span class="label label-info pull-right">Visualizar</span></a>
                    }
                    @if (perfil == "1")
                    {
                        <a href="AgendaComercial/VisitasSemana"><span class="label label-info pull-right">Visualizar</span></a>
                    }
                    <h5>Visitas Agendadas - Semana</h5>
                </div>
                <div class="ibox-content">
                    <ul class="stat-list">
                        <li>
                            <h2 class="no-margins">@Model.VisitasAgendadasSemana</h2>
                            <small>Agendadas</small>
                        </li>
                        <li>
                            <h2 class="no-margins ">@Model.VisitasRealizadasSemana</h2>
                            <small>Realizadas</small>
                            <div class="stat-percent">@Model.VisitasRealizadasSemanaP% </div>
                            <div class="progress progress-mini">
                                <div style="width: @Model.VisitasRealizadasSemanaP%;" class="progress-bar"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    @if (perfil == "0")
                    {
                        <a href="AgendaCliente/VisitasMes"><span class="label label-success pull-right">Visualizar</span></a>
                    }
                    @if (perfil == "1")
                    {
                        <a href="AgendaComercial/VisitasMes"><span class="label label-success pull-right">Visualizar</span></a>
                    }
                    <h5>Visitas Agendadas - Mês</h5>
                </div>
                <div class="ibox-content">
                    <ul class="stat-list">
                        <li>
                            <h2 class="no-margins">@Model.VisitasAgendadasMes</h2>
                            <small>Agendadas</small>
                        </li>
                        <li>
                            <h2 class="no-margins ">@Model.VisitasRealizadasMes</h2>
                            <small>Realizadas</small>
                            <div class="stat-percent">@Model.VisitasRealizadasMesP% </div>
                            <div class="progress progress-mini">
                                <div style="width: @Model.VisitasRealizadasMesP%;" class="progress-bar"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/toastr")

    <script>
        function AssignButtonClicked(elem) {
            var id = $(elem).data('assigned-id');
            var id2 = $(elem).data('cliente-id');
            $('#agendaId').val(id);
            $('#clienteId').val(id2);
        }


        $("#addRegister").submit(function (e) {

            var id = $('#agendaId').val();
            var id2 = $('#clienteId').val();
            var form = $(this);
            var url = "/Agenda/Reagendar/" + id;

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    console.log(data);
                    toastr.success("Reagendado com sucesso!");
                    window.location = "/Home/Index";
                },
                error: function (data) {
                    console.log(data);
                    toastr.error("Ops, algo deu errado =(");
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });
    </script>

    <script type="text/javascript">
        $('.clockpicker').clockpicker();

        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            format: 'dd/mm/yyyy',
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: false,
            todayHighlight: true,
            startDate: '@data',
            autoclose: true
        });

        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });

    </script>
}
